$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


#board {
  width: 300px;
  height: 300px;
  margin-left:650px;
  text-align: center;
}

tr {
  height: 100px
}

td {
  width: 100px
}
